/* App styles  */
.App {
  text-align: center;
  margin-top: 110px;
}

.Header {
  background-color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  font-size: 45px;
  margin-top: -110px;
  margin-bottom: 10px;
  width: 100%;
  max-width: 800px;
  padding: 10px;
  position: fixed;
}

.logo {
  /* color: #0008e5; */
}

ul {
  list-style: none;
}

a:link, a:visited, a:active, a:hover {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #0008e5;
}

/* Home page */
.picture {
  height: 35vmin;
}

.Home {
  width: 100%;
}

.navItems {
  font-size: 38px;
  text-align: center;
}

.navRow {
  display: flex;
  padding-bottom: 15px;
  justify-content: center;
}

.navNameCol {
  width: 130px;
  display: flex;
  flex-direction: row-reverse;
}

.navIcon {
  height: 45px;
  max-width: 50px;
  margin-left: 15px;
}

/* About page */
